body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}




.add-to-cart{
  font-size: 18px;
  font-style: unset;
 
  color: #913939;
  margin-top: 5px;
}
.cart img{
  max-width: 100%;
  height: auto;
  width: 12%;
  display: inline;
  margin-right: 5px;
}
header {
  background-color: #e30f0f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.tab {
  overflow: hidden;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  font-size: 16px;
}

.tab button.active {
 
  background-color: #ccc;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 60px;
}

.item {
  border-radius: 20px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  width: calc(50% - 20px); /* Adjusted width for two items per row */
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.item:hover {
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
 
}

.item h2 {
  margin-bottom: 5px;
  font-size: 18px;
}

.item p {
  margin-bottom: 10px;
  font-size: 16px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-input {
  width: 50px;
  text-align: center;
  margin: 0 10px;
}

.quantity button {
  background-color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  transition: 0.3s;
}

.quantity button:hover {
  background-color: #ccc;
}

.cart {
  margin-top: 20px;
  border: 0.5px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 90px;
  border-radius: 15px;
}

.cart:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#continue:hover{
  background: #911212;
  font-weight: 100;
  border-radius: 10px;
}
.cart h2 {
  font-size: xx-large;
  color: tomato;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.cart button {
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.cart button:hover {
  background-color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
}
@media only screen and (max-width: 600px) {
  .item img {
    margin-left: 0;
  }
}
